## Connect to MongoDB and Retrieve Data

In [1]:
# Import dependenctt
from pprint import pprint
import getpass 
import pandas as pd
import numpy as np
from pymongo import MongoClient
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
password = getpass.getpass("MongoDB password: ")

MongoDB password:  ········

In [3]:
client = MongoClient(f'mongodb://book_group:{password}@macragge.reika.io:47017/?authSource=books')

In [4]:
# Assign the database to a variable name
db = client['books']
collection = db['books']

In [5]:
# Fetch data from MongoDB
data = list(collection.find(limit=10000))  # Retrieve all documents as a list of dictionaries

In [6]:
# Convert to Pandas DataFrame
df = pd.DataFrame(data)

In [7]:
#client.close()

In [8]:
df.head()

,_id,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,66da49047084538b3e00f9c2,0312853122,1,[],US,,"[{'count': '3', 'name': 'to-read'}, {'count': ...",,false,4.00,...,9,,1984,https://www.goodreads.com/book/show/5333265-w-...,https://images.gr-assets.com/books/1310220028m...,5333265,3,5400751,W.C. Fields: A Life on Film,W.C. Fields: A Life on Film
1,66da49047084538b3e00f9c3,0743509986,6,[],US,,"[{'count': '2634', 'name': 'to-read'}, {'count...",,false,3.23,...,10,Abridged,2001,https://www.goodreads.com/book/show/1333909.Go...,https://s.gr-assets.com/assets/nophoto/book/11...,1333909,10,1323437,Good Harbor,Good Harbor
2,66da49047084538b3e00f9c4,,7,[189911],US,eng,"[{'count': '58', 'name': 'to-read'}, {'count':...",B00071IKUY,false,4.03,...,,Book Club Edition,1987,https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...,7327624,140,8948723,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","The Unschooled Wizard (Sun Wolf and Starhawk, ..."
3,66da49047084538b3e00f9c5,0743294297,3282,[],US,eng,"[{'count': '7615', 'name': 'to-read'}, {'count...",,false,3.49,...,7,,2009,https://www.goodreads.com/book/show/6066819-be...,https://s.gr-assets.com/assets/nophoto/book/11...,6066819,51184,6243154,Best Friends Forever,Best Friends Forever
4,66da49047084538b3e00f9c6,0850308712,5,[],US,,"[{'count': '32', 'name': 'to-read'}, {'count':...",,false,3.40,...,,,,https://www.goodreads.com/book/show/287140.Run...,https://images.gr-assets.com/books/1413219371m...,287140,15,278577,Runic Astrology: Starcraft and Timekeeping in ...,Runic Astrology: Starcraft and Timekeeping in ...

In [9]:
df.columns.tolist()

['_id',
 'isbn',
 'text_reviews_count',
 'series',
 'country_code',
 'language_code',
 'popular_shelves',
 'asin',
 'is_ebook',
 'average_rating',
 'kindle_asin',
 'similar_books',
 'description',
 'format',
 'link',
 'authors',
 'publisher',
 'num_pages',
 'publication_day',
 'isbn13',
 'publication_month',
 'edition_information',
 'publication_year',
 'url',
 'image_url',
 'book_id',
 'ratings_count',
 'work_id',
 'title',
 'title_without_series']

## Preprocess Numerical columns

In [10]:
numerical_columns = [
    'text_reviews_count',
    'average_rating',
    'num_pages',
    'ratings_count'
]

# Ensure numerical columns are present in DataFrame
df_numerical = df[numerical_columns].fillna(0)  # Handle missing values appropriately

In [11]:
# Check data types in df_numerical
print(df_numerical.dtypes)

text_reviews_count    object
average_rating        object
num_pages             object
ratings_count         object
dtype: object

In [12]:
# Check for missing values
print(df_numerical.isnull().sum())

# Example of filling missing values
df_numerical = df_numerical.fillna(0)  # Or use another appropriate value or method

# Or drop rows/columns with missing values
df_numerical = df_numerical.dropna()  # Be cautious with dropping data

text_reviews_count    0
average_rating        0
num_pages             0
ratings_count         0
dtype: int64

In [13]:
from sklearn.preprocessing import LabelEncoder

label_encoders = {}
for column in df_numerical.select_dtypes(include=['object']).columns:
    le = LabelEncoder()
    df_numerical[column] = le.fit_transform(df_numerical[column])
    label_encoders[column] = le

In [14]:
# Make sure df_numerical contains only the numerical columns
print(df_numerical.head())
print(numerical_columns)

   text_reviews_count  average_rating  num_pages  ratings_count
0                   2             180        199            470
1                 291             103          0              3
2                 312             183        547            157
3                 204             129        324            740
4                 265             120          0            186
['text_reviews_count', 'average_rating', 'num_pages', 'ratings_count']

Standardize the data

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(df_numerical), columns=df_numerical.columns)

## Compute Cosine Similarity:

In [16]:
from sklearn.metrics.pairwise import cosine_similarity

# Compute the cosine similarity matrix
similarity_matrix = cosine_similarity(df_scaled)

# Convert to DataFrame for better readability
similarity_df = pd.DataFrame(similarity_matrix, index=df.index, columns=df.index)
print(similarity_df)

          0         1         2         3         4         5         6     \
0     1.000000 -0.643989 -0.435752 -0.429289 -0.692507 -0.778135 -0.321004
1    -0.643989  1.000000  0.157865 -0.035964  0.985906  0.147449  0.441960
2    -0.435752  0.157865  1.000000  0.328696  0.058698  0.182553  0.161707
3    -0.429289 -0.035964  0.328696  1.000000 -0.026688  0.231253 -0.695457
4    -0.692507  0.985906  0.058698 -0.026688  1.000000  0.260498  0.453329
...        ...       ...       ...       ...       ...       ...       ...
9995  0.922450 -0.567937 -0.252136 -0.120688 -0.650316 -0.894287 -0.576918
9996  0.270249  0.179390 -0.721570  0.121740  0.209317 -0.468549 -0.524965
9997 -0.462727  0.015939  0.905079  0.690035 -0.056441  0.224221 -0.216374
9998  0.588135 -0.137374 -0.407705 -0.980568 -0.146647 -0.326525  0.555646
9999  0.780413 -0.541500 -0.153470 -0.769286 -0.588830 -0.438032  0.276160

          7         8         9     ...      9990      9991      9992  \
0    -0.487503 -0.610734 -0.420866  ...  0.323977 -0.280669 -0.833350
1    -0.294943  0.222567 -0.176159  ... -0.453884 -0.552295  0.932877
2     0.030160 -0.359574 -0.309965  ...  0.670897  0.292866  0.213299
3     0.440213  0.177865  0.525913  ... -0.121630  0.471401  0.282235
4    -0.170508  0.378926 -0.029822  ... -0.569735 -0.483158  0.948520
...        ...       ...       ...  ...       ...       ...       ...
9995 -0.565591 -0.749516 -0.454556  ...  0.358481 -0.306232 -0.703379
9996 -0.337783  0.095690  0.134486  ... -0.713659 -0.561156  0.165208
9997  0.236623 -0.226757 -0.001107  ...  0.511823  0.478721  0.201660
9998 -0.439182 -0.242365 -0.506725  ...  0.163711 -0.430947 -0.449034
9999 -0.363344 -0.533830 -0.552657  ...  0.580055 -0.135528 -0.796774

          9993      9994      9995      9996      9997      9998      9999
0    -0.409076 -0.559053  0.922450  0.270249 -0.462727  0.588135  0.780413
1     0.686091  0.984203 -0.567937  0.179390  0.015939 -0.137374 -0.541500
2     0.717173  0.086035 -0.252136 -0.721570  0.905079 -0.407705 -0.153470
3    -0.116622 -0.211540 -0.120688  0.121740  0.690035 -0.980568 -0.769286
4     0.573935  0.971566 -0.650316  0.209317 -0.056441 -0.146647 -0.588830
...        ...       ...       ...       ...       ...       ...       ...
9995 -0.288739 -0.542604  1.000000  0.364383 -0.192917  0.281422  0.551617
9996 -0.374086  0.157622  0.364383  1.000000 -0.523173 -0.066239 -0.284884
9997  0.445775 -0.114228 -0.192917 -0.523173  1.000000 -0.726983 -0.400710
9998 -0.029770  0.038411  0.281422 -0.066239 -0.726983  1.000000  0.854004
9999 -0.110710 -0.398635  0.551617 -0.284884 -0.400710  0.854004  1.000000

[10000 rows x 10000 columns]

In [20]:
print(df[categorical_columns].dtypes)
print(df[categorical_columns].applymap(type).value_counts())

series          object
country_code    object
dtype: object
series          country_code
<class 'list'>  <class 'str'>    10000
Name: count, dtype: int64

C:\Users\Julia\AppData\Local\Temp\ipykernel_17140\4241919946.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df[categorical_columns].applymap(type).value_counts())

In [21]:
for col in categorical_columns:
    if df[col].apply(lambda x: isinstance(x, list)).any():
        df[col] = df[col].apply(lambda x: ','.join(x) if isinstance(x, list) else x)

In [22]:
print(df[categorical_columns].applymap(type).nunique())

series          1
country_code    1
dtype: int64

C:\Users\Julia\AppData\Local\Temp\ipykernel_17140\2357283540.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df[categorical_columns].applymap(type).nunique())

## Textual Data

In [23]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse=False, drop='first')
df_categorical = df[categorical_columns].fillna('')  # Ensure no NaNs
categorical_encoded = encoder.fit_transform(df_categorical)

# Convert to DataFrame and concatenate with numerical data
df_categorical_encoded = pd.DataFrame(categorical_encoded, columns=encoder.get_feature_names_out(categorical_columns))

C:\Users\Julia\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [24]:
from sklearn.preprocessing import OneHotEncoder

# Example for one-hot encoding categorical data
categorical_columns = ['series', 'country_code']
df_categorical = df[categorical_columns].fillna('')

encoder = OneHotEncoder(sparse=False, drop='first')
categorical_encoded = encoder.fit_transform(df_categorical)

# Convert to DataFrame and concatenate with numerical data
df_categorical_encoded = pd.DataFrame(categorical_encoded, columns=encoder.get_feature_names_out(categorical_columns))
df_combined = pd.concat([df_scaled, df_categorical_encoded], axis=1)

# Compute cosine similarity with combined features
similarity_matrix_combined = cosine_similarity(df_combined)
similarity_df_combined = pd.DataFrame(similarity_matrix_combined, index=df.index, columns=df.index)
print(similarity_df_combined)

C:\Users\Julia\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

          0         1         2         3         4         5         6     \
0     1.000000 -0.240625 -0.095720  0.065649 -0.197987 -0.223557  0.050530
1    -0.240625  1.000000  0.247746  0.168731  0.983440  0.294594  0.527975
2    -0.095720  0.247746  1.000000  0.422366  0.192699  0.299507  0.271243
3     0.065649  0.168731  0.422366  1.000000  0.225966  0.434707 -0.284421
4    -0.197987  0.983440  0.192699  0.225966  1.000000  0.421294  0.560488
...        ...       ...       ...       ...       ...       ...       ...
9995  0.952126 -0.198882  0.022296  0.255487 -0.184331 -0.321472 -0.142919
9996  0.432296  0.290807 -0.470174  0.301226  0.342857 -0.196231 -0.272263
9997 -0.096755  0.148772  0.866936  0.740773  0.121929  0.363826 -0.016418
9998  0.687084  0.042754 -0.182203 -0.496490  0.079609 -0.043553  0.640889
9999  0.831641 -0.275963  0.033384 -0.309216 -0.251987 -0.109068  0.425063

          7         8         9     ...      9990      9991      9992  \
0    -0.098349 -0.046032 -0.021267  ...  0.423349  0.020603 -0.324487
1    -0.106871  0.372083  0.007943  ... -0.266452 -0.331826  0.941052
2     0.140512 -0.085375 -0.106652  ...  0.635838  0.338267  0.308190
3     0.514420  0.427366  0.634143  ...  0.080928  0.531347  0.443684
4     0.031168  0.530716  0.170960  ... -0.314851 -0.228022  0.957653
...        ...       ...       ...  ...       ...       ...       ...
9995 -0.163343 -0.153806 -0.057886  ...  0.446334 -0.006316 -0.248674
9996 -0.132461  0.283172  0.276209  ... -0.473134 -0.329269  0.297084
9997  0.324158  0.033223  0.162112  ...  0.542960  0.516619  0.326941
9998 -0.180583  0.062280 -0.219343  ...  0.269821 -0.192139 -0.182431
9999 -0.105102 -0.130291 -0.234158  ...  0.606424  0.054046 -0.440527

          9993      9994      9995      9996      9997      9998      9999
0     0.167754 -0.089922  0.952126  0.432296 -0.096755  0.687084  0.831641
1     0.585863  0.979960 -0.198882  0.290807  0.148772  0.042754 -0.275963
2     0.564452  0.219553  0.022296 -0.470174  0.866936 -0.182203  0.033384
3     0.252582  0.099310  0.255487  0.301226  0.740773 -0.496490 -0.309216
4     0.560750  0.977331 -0.184331  0.342857  0.121929  0.079609 -0.251987
...        ...       ...       ...       ...       ...       ...       ...
9995  0.211416 -0.093187  1.000000  0.498109  0.088637  0.468906  0.673421
9996  0.007887  0.305562  0.498109  1.000000 -0.307013  0.110923 -0.054285
9997  0.459571  0.081849  0.088637 -0.307013  1.000000 -0.440254 -0.150258
9998  0.233407  0.235760  0.468906  0.110923 -0.440254  1.000000  0.883699
9999  0.209554 -0.090355  0.673421 -0.054285 -0.150258  0.883699  1.000000

[10000 rows x 10000 columns]

In [25]:
df['average_rating'] = pd.to_numeric(df['average_rating'], errors='coerce')

In [26]:
true_ratings = df['average_rating'].fillna(0)

In [27]:
predicted_ratings = true_ratings + np.random.normal(0, 0.5, size=len(df))

In [28]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(true_ratings, predicted_ratings)

In [29]:
# Calculate Mean Squared Error (MSE)
# Example data for demonstration: true ratings and predicted ratings
# Replace these with actual data from your dataset
true_ratings = df['average_rating'].fillna(0)  # Assuming average_rating is actual rating
predicted_ratings = true_ratings + np.random.normal(0, 0.5, size=len(df))  # Random predictions for example

# Calculate MSE
mse = mean_squared_error(true_ratings, predicted_ratings)
print(f"Mean Squared Error: {mse:.2f}")

# Optional: Display first few actual vs. predicted ratings
rating_comparison = pd.DataFrame({
    'True Rating': true_ratings,
    'Predicted Rating': predicted_ratings
})

print(rating_comparison.head())

Mean Squared Error: 0.25
   True Rating  Predicted Rating
0         4.00          3.845960
1         3.23          2.843702
2         4.03          3.409136
3         3.49          4.063168
4         3.40          3.364105

In [ ]:
testing