In [1]:
import getpass
import pandas as pd
import tensorflow as tf
from pymongo import MongoClient

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

2024-09-10 00:53:40.901013: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-09-10 00:53:40.901052: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-09-10 00:53:40.902006: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-09-10 00:53:40.907956: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-09-10 00:53:41.642005: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
password = getpass.getpass("MongoDB password: ")

MongoDB password:  ········

In [3]:
client = MongoClient(f'mongodb://book_group:{password}@macragge.reika.io:47017/?authSource=books')

In [5]:
db = client['books']
collection = db['books']

In [6]:
# Fetch data from MongoDB
data = list(collection.find({'random': {'$lt': 25}}))  # Retrieve all documents as a list of dictionaries

In [7]:
# Convert to Pandas DataFrame
df = pd.DataFrame(data)

In [8]:
client.close()

In [9]:
# data preview
df.head()

,_id,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,...,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series,random
0,66df97eeb0681b833c5d3cfa,2205073346,2,[],US,fre,"[{'count': '2', 'name': 'bd'}, {'count': '2', ...",,false,3.94,...,,2016,https://www.goodreads.com/book/show/30128855-c...,https://images.gr-assets.com/books/1462644346m...,30128855,16,50558228,Cruelle,Cruelle,0
1,66df97eeb0681b833c5d3d14,1478351845,1,[],US,,"[{'count': '1', 'name': 'kids'}]",,false,4.50,...,,2012,https://www.goodreads.com/book/show/16201706-l...,https://images.gr-assets.com/books/1355125416m...,16201706,2,22141168,Little Bigfoot Goes to Town,Little Bigfoot Goes to Town,3
2,66df97eeb0681b833c5d3d2b,0884482987,17,[],US,,"[{'count': '14', 'name': 'to-read'}, {'count':...",,false,3.89,...,,2008,https://www.goodreads.com/book/show/3631900-am...,https://images.gr-assets.com/books/1300370678m...,3631900,44,3674728,Amadi's Snowman: A Story of Reading,Amadi's Snowman: A Story of Reading,7
3,66df97eeb0681b833c5d3d3c,0062265784,2,[199041],US,eng,"[{'count': '1642', 'name': 'mystery'}, {'count...",,false,3.93,...,,2013,https://www.goodreads.com/book/show/16158996-4,https://images.gr-assets.com/books/1360566349m...,16158996,5,6490729,4:50 From Paddington,4:50 From Paddington,8
4,66df97eeb0681b833c5d3d3d,1619694611,46,[510553],US,eng,"[{'count': '328', 'name': 'mystery'}, {'count'...",,false,4.07,...,eAudiobook,2013,https://www.goodreads.com/book/show/17368265-w...,https://images.gr-assets.com/books/1385408417m...,17368265,250,24152432,"White Fire (Pendergast, #13)","White Fire (Pendergast, #13)",4

In [10]:
len(df)

2630

In [11]:
# available columns
for c in df.columns:
    print(c)

_id
isbn
text_reviews_count
series
country_code
language_code
popular_shelves
asin
is_ebook
average_rating
kindle_asin
similar_books
description
format
link
authors
publisher
num_pages
publication_day
isbn13
publication_month
edition_information
publication_year
url
image_url
book_id
ratings_count
work_id
title
title_without_series
random

In [12]:
df['average_rating'].value_counts()

average_rating
4.00    115
5.00     85
3.67     53
3.00     46
3.50     45
       ...
2.29      1
2.76      1
2.70      1
1.67      1
2.87      1
Name: count, Length: 227, dtype: int64

In [13]:
# collapse the lists in the series column to a string

df['series'] = df['series'].astype(str)

df['series'].value_counts()

series
[]                       1779
['901790']                  2
['220147', '1124554']       2
['735877']                  2
['290754']                  2
                         ...
['209768']                  1
['420541']                  1
['279349', '293745']        1
['911532', '1006314']       1
['390832']                  1
Name: count, Length: 848, dtype: int64

In [14]:
# collapse the lists in the series column to a string

df['similar_books'] = df['similar_books'].astype(str)

df['similar_books'].value_counts()

similar_books
[]                                                                                                                                                                                                           1391
['1678929', '207313', '837422', '182385', '93157', '611637', '50776', '402838', '24694', '2305', '45206', '1275404', '78463', '444399', '87580', '93135', '817993', '305036']                                   3
['2100487', '94654', '252657', '135444', '1481738', '1480565', '427354', '315993', '504119', '1210056', '451353', '1456615', '1890986', '730652', '602398', '289774', '11233886', '276751']                     2
['20564', '782519', '149785', '38262', '429024', '1109858', '1131795', '198496', '31171', '5797', '5890']                                                                                                       2
['285825', '6018232', '2086968', '13490083', '888770', '12035617', '691923', '17202819', '6348441', '13628930', '1041104', '92555', '396733', '507847', '1676200', '11332560', '11085132', '12906787']          2
                                                                                                                                                                                                             ...
['3391272', '5303611', '3001678', '10307510', '8712586', '3298385', '10851700', '10851594', '2002011', '2247766', '12930947', '6726882', '17999967', '3232169', '35175', '128088', '12598341', '1669734']       1
['22442708', '2623820', '6486505', '3220779', '6836558', '22014420', '1294471', '18465037', '9703588', '25468947', '23583600', '18210943', '23622943', '19442823', '13332810']                                  1
['2247423', '2425528', '3437328', '185826', '250361', '362021', '6034660', '8547207']                                                                                                                           1
['7551628', '7533435', '6135849', '8685597', '2450783', '6588515', '6135841', '4916989', '1743513', '12954974', '2777431', '7134386', '17251099', '6538756', '7670616', '5068396', '3365912', '15717846']       1
['1103317', '1172415', '11307', '667660', '6821199', '12295462', '1444577', '1070102', '489813', '6929553', '363295', '294819', '532856', '16101149', '741238', '6472055', '919586']                            1
Name: count, Length: 1226, dtype: int64

In [15]:
# flatten the nested structure in df['popular_shelves']

# Explode the 'popular_shelves' list column
df = df.explode('popular_shelves')

# Extract 'name' and 'count' into new columns
df['shelf_name'] = df['popular_shelves'].apply(lambda x: x['name'] if isinstance(x, dict) else None)
df['shelf_count'] = df['popular_shelves'].apply(lambda x: x['count'] if isinstance(x, dict) else None)

# Drop the original 'popular_shelves' column
df = df.drop('popular_shelves', axis=1)

In [16]:
# flatten the nested structure in df['authors']

# Explode the 'popular_shelves' list column
df = df.explode('authors')

# Extract 'name' and 'count' into new columns
df['author_id'] = df['authors'].apply(lambda x: x['author_id'] if isinstance(x, dict) else None)
df['author_role'] = df['authors'].apply(lambda x: x['role'] if isinstance(x, dict) else None)

# Drop the original 'popular_shelves' column
df = df.drop('authors', axis=1)

In [17]:
df['average_rating'].value_counts()

average_rating
3.77    5425
4.05    3795
3.67    3747
3.84    3664
4.06    3302
        ...
1.80       3
1.50       3
4.96       2
4.94       2
2.80       1
Name: count, Length: 227, dtype: int64

In [18]:
# Ensure numerical columns are present in DataFrame

numerical_columns = [
    'text_reviews_count',
    'average_rating',
    'num_pages',
    'ratings_count',
    'shelf_name',
    'shelf_count',
    'author_id',
    'author_role'
]
df[numerical_columns] = df[numerical_columns].fillna(0) # Handle missing values appropriately

In [19]:
df.head()

,_id,isbn,text_reviews_count,series,country_code,language_code,asin,is_ebook,average_rating,kindle_asin,...,book_id,ratings_count,work_id,title,title_without_series,random,shelf_name,shelf_count,author_id,author_role
0,66df97eeb0681b833c5d3cfa,2205073346,2,[],US,fre,,false,3.94,,...,30128855,16,50558228,Cruelle,Cruelle,0,bd,2,3274315,
0,66df97eeb0681b833c5d3cfa,2205073346,2,[],US,fre,,false,3.94,,...,30128855,16,50558228,Cruelle,Cruelle,0,to-read,2,3274315,
0,66df97eeb0681b833c5d3cfa,2205073346,2,[],US,fre,,false,3.94,,...,30128855,16,50558228,Cruelle,Cruelle,0,french-author,1,3274315,
0,66df97eeb0681b833c5d3cfa,2205073346,2,[],US,fre,,false,3.94,,...,30128855,16,50558228,Cruelle,Cruelle,0,female-author,1,3274315,
0,66df97eeb0681b833c5d3cfa,2205073346,2,[],US,fre,,false,3.94,,...,30128855,16,50558228,Cruelle,Cruelle,0,mars-2017,1,3274315,

In [22]:
df['format'].value_counts()

format
Paperback                80871
                         48387
Hardcover                38457
ebook                    15175
Kindle Edition            6843
Audio CD                  3972
Mass Market Paperback     3789
Audiobook                 2920
Audible Audio             2354
Audio                     1828
Board Book                 458
MP3 CD                     300
Unknown Binding            218
Library Binding            200
Klappenbroschur            200
Leather Bound              136
Capa Mole                  100
Pocket Paperback           100
Inbunden                   100
Audio Cassette             100
Online                      38
Interactive eBook           33
Trade Paperback             31
Board book                  27
cloth                       26
hardback                    10
Hard Cover                   7
hardcover                    2
PDF                          1
Name: count, dtype: int64

In [34]:
# keep only features data - drops the various ID values

# feature_columns = [
#     'text_reviews_count', 'series', 'country_code',
#     'language_code', 'is_ebook', 'average_rating',
#     'description', 'format', 'publisher',
#     'num_pages', 'publication_day', 'publication_month',
#     'edition_information', 'publication_year',
#     'ratings_count', 'title', 'title_without_series',
#     'shelf_name', 'shelf_count', 'author_id', 'author_role'
# ]

feature_columns = [
    'country_code',
    'language_code', 'is_ebook', 'average_rating',
    'format',
    'num_pages', 'publication_day', 'publication_month',
    'edition_information', 'publication_year'
]

df_dummies = pd.get_dummies(df[feature_columns])
# df = pd.get_dummies(df)

# Remove average_rating target from features data
y = df['average_rating'].values
# X = df_dummies.copy().drop(columns = 'average_rating').values
X = df_dummies.values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42) # don't stratify at all, not all ratings are equal

In [ ]:
numerical_columns = [
    'text_reviews_count',
    'average_rating',
    'num_pages',
    'ratings_count'
]

# Preprocess numerical data for neural network

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [35]:
X.columns

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

In [32]:
y_train

array(['3.38', '4.44', '3.40', ..., '3.57', '3.77', '3.57'], dtype=object)

In [24]:
df_dummies.columns

Index(['country_code_US', 'language_code_', 'language_code_ara',
       'language_code_ben', 'language_code_bul', 'language_code_cze',
       'language_code_dan', 'language_code_en-CA', 'language_code_en-GB',
       'language_code_en-US',
       ...
       'publication_year_2010', 'publication_year_2011',
       'publication_year_2012', 'publication_year_2013',
       'publication_year_2014', 'publication_year_2015',
       'publication_year_2016', 'publication_year_2017',
       'publication_year_2018', 'publication_year_2068'],
      dtype='object', length=1079)

In [25]:
df_dummies.head()

,country_code_US,language_code_,language_code_ara,language_code_ben,language_code_bul,language_code_cze,language_code_dan,language_code_en-CA,language_code_en-GB,language_code_en-US,...,publication_year_2010,publication_year_2011,publication_year_2012,publication_year_2013,publication_year_2014,publication_year_2015,publication_year_2016,publication_year_2017,publication_year_2018,publication_year_2068
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [26]:
# Check for missing values
print(df.isnull().sum())

_id                     0
isbn                    0
text_reviews_count      0
series                  0
country_code            0
language_code           0
asin                    0
is_ebook                0
average_rating          0
kindle_asin             0
similar_books           0
description             0
format                  0
link                    0
publisher               0
num_pages               0
publication_day         0
isbn13                  0
publication_month       0
edition_information     0
publication_year        0
url                     0
image_url               0
book_id                 0
ratings_count           0
work_id                 0
title                   0
title_without_series    0
random                  0
shelf_name              0
shelf_count             0
author_id               0
author_role             0
dtype: int64

In [28]:
from tensorflow.keras.losses import MeanSquaredError

# Define the deep learning model 
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu", input_dim=1079))
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn_model.compile(loss=MeanSquaredError(), optimizer="adam", metrics=["rmse"])

# convert data to float data type
# X_train_tensor = tf.convert_to_tensor(X_train, dtype=tf.float32)
# y_train_tensor = tf.convert_to_tensor(y_train, dtype=tf.float32)

# Train the model
fit_model = nn_model.fit(X_train, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50

TypeError: in user code:

    File "/opt/conda/lib/python3.11/site-packages/keras/src/engine/training.py", line 1401, in train_function  *
        return step_function(self, iterator)
    File "/opt/conda/lib/python3.11/site-packages/keras/src/engine/training.py", line 1384, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/opt/conda/lib/python3.11/site-packages/keras/src/engine/training.py", line 1373, in run_step  **
        outputs = model.train_step(data)
    File "/opt/conda/lib/python3.11/site-packages/keras/src/engine/training.py", line 1155, in train_step
        return self.compute_metrics(x, y, y_pred, sample_weight)
    File "/opt/conda/lib/python3.11/site-packages/keras/src/engine/training.py", line 1249, in compute_metrics
        self.compiled_metrics.update_state(y, y_pred, sample_weight)
    File "/opt/conda/lib/python3.11/site-packages/keras/src/engine/compile_utils.py", line 620, in update_state
        metric_obj.update_state(y_t, y_p, sample_weight=mask)
    File "/opt/conda/lib/python3.11/site-packages/keras/src/utils/metrics_utils.py", line 77, in decorated
        result = update_state_fn(*args, **kwargs)
    File "/opt/conda/lib/python3.11/site-packages/keras/src/metrics/base_metric.py", line 140, in update_state_fn
        return ag_update_state(*args, **kwargs)
    File "/opt/conda/lib/python3.11/site-packages/keras/src/metrics/base_metric.py", line 723, in update_state  **
        matches = ag_fn(y_true, y_pred, **self._fn_kwargs)

    TypeError: 'str' object is not callable